<!-- esse código fica no arquivo index.phtml relativo ao controller Login -->
<form method="post">
    <input type="text" name="usuario" placeholder="Usuário" />

    <input type="password" name="senha" placeholder="Senha" />

    <input type="submit" value="Entrar" />
</form>